
//IMPORTS
@import 'fonts.scss';

//VARIEBLES
$color-text: #606060;
$text-size:16px;
$line-height:24px;

// MAIN STYLES

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  @include regular;
  color:$color-text;
  text-size: $text-size;
  width: 1920px;
}

.container {
  width: 1170px;
  margin:0 auto;
}

// HEADER COVER
.header{
  background-image: url("../../images/cover.jpg");
  background-repeat: no-repeat;
  min-height:750px;
}
.header-itms__text{

}
.header-itms{
  display: flex;
}
