@font-face {
  font-family: 'Open Sans Regular';
  src: url("./fonts/OpenSans-Regular.eot");
  src: url("./fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Regular.woff") format("woff"), url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("OpenSans-SemiBold.eot");
  src: url("OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("OpenSans-SemiBold.woff") format("woff"), url("OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans Regular', sans-serif;
  color: #606060;
  text-size: 16px;
  width: 1920px; }

.container {
  width: 1170px;
  margin: 0 auto; }

.header {
  background-image: url("../../images/cover.jpg");
  background-repeat: no-repeat;
  min-height: 750px; }

.header-itms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
