
//IMPORTS
@import 'fonts.scss';

//VARIEBLES
$color-text: #606060;
$text-size:16px;
$line-height:24px;
$maincolor:#ff5a5f;

@mixin maintext {
  color:$maincolor;
  font-size: 32px;
  @include bold;
}

@mixin mainslogan{
  color:white;
  font-size: 22px;
  @include regular;
}

// MAIN STYLES

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  @include regular;
  color:$color-text;
  text-size: $text-size;
  width: 1920px;
}

.container {
  width: 1170px;
  margin:0 auto;

}

// HEADER COVER
.header{
  background-image: url("../../images/cover.jpg");
  background-repeat: no-repeat;
  min-height:600px;
}
.header-itms{
  display: flex;
  padding-top:240px;

  .header-itms__text {
    width: 500px;
    margin-right: 400px;
  }
}

.header-itms__text__main{
  color:$maincolor;
  font-size: 32px;
  @include bold;
}
.header-itms__text__slogan{
  color:white;
  font-size: 22px;
  @include regular;
}
.header-itms__logo {
  width: 500px;
}

// NAVIGATION
.navbar{
  border-bottom: 1px solid $color-text;
}

.navbar__items{
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;

  .navbar__items__menu{
    display: flex;
    align-items: center;
    list-style: none;

    .navbar__items__menu__btn{
      margin-right: 30px;
      @include bold;
      font-size: 16px;
      text-transform: uppercase;
      transition: 0.10s;

      a{
      text-decoration: none;
      color: $color-text;
      transition: color .25s linear;


       &:hover{
         color:$maincolor;
         border-bottom: 1px solid $maincolor;
       }
      }
    }
  }
}

.social-btns{
  justify-content: flex-end;
  margin-left: auto;


  a{

  margin-left: 20px;

   .social-btns__icon{
     width: 22px;


     .social-btns__icon:hover{

     }

   }
  }

}

// SERVICES
.services__introduce{
  padding-top: 180px;
  text-align: center;
 border-bottom: 2px solid $maincolor;

  .services__text{
    font-size: 32px;
    display: inline-block;
    text-transform: uppercase;
    @include bold;
    padding: 10px;

  }
}


.service{
  padding-top: 110px;
  display: flex;
}

.service__document{
  padding-right: 10px;
  width:350px;
  flex-grow: 1;

  span{
    color: $maincolor;
    @include bold;
    text-transform: uppercase;
  }
}

.service__localisation{
  width:350px;
  flex-grow: 1;
  padding-right: 10px;

}
.service__multimedia{
  width:350px;
  flex-grow: 1;
}

.service__title{
  margin-bottom: 20px;
  .service__icon{
    margin-right: 10px;
  }
}

// FEATURES

.features{
  background-image: url("../../images/features.jpg");
  margin-top: 100px;
  min-height: 790px;
}
.features-items{
  display: flex;
  padding-top: 100px;

  .features-items__title{
    flex-basis: 500px;

    .features-items__title__h3{
      @include maintext;
    }
    .features-items__title__hp{
      @include mainslogan;
    }
  }


  .features-items__block{
    flex-basis: 600px;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;

    .features-items__block__title{
      @include maintext;
      padding: 20px;
    }

  }
 .features-items__block__list{
   padding: 30px;

   .features-items__block__icon{
     float: left;
     margin-right: 10px;
     margin-bottom: 10px;
   }

 }
}
