@font-face {
  font-family: 'Open Sans Regular';
  src: url("./fonts/OpenSans-Regular.eot");
  src: url("./fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Regular.woff") format("woff"), url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("OpenSans-SemiBold.eot");
  src: url("OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("OpenSans-SemiBold.woff") format("woff"), url("OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans Regular', sans-serif;
  color: #606060;
  text-size: 16px;
  width: 1920px; }

.container {
  width: 1170px;
  margin: 0 auto; }

.header {
  background-image: url("../../images/cover.jpg");
  background-repeat: no-repeat;
  min-height: 600px; }

.header-itms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 240px; }
  .header-itms .header-itms__text {
    width: 500px;
    margin-right: 400px; }

.header-itms__text__main {
  color: #ff5a5f;
  font-size: 32px;
  font-family: 'Open Sans Semibold', sans-serif; }

.header-itms__text__slogan {
  color: white;
  font-size: 22px;
  font-family: 'Open Sans Regular', sans-serif; }

.header-itms__logo {
  width: 500px; }

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px; }
  .navbar__items .navbar__items__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .navbar__items .navbar__items__menu .navbar__items__menu__btn {
      margin-right: 30px;
      font-family: 'Open Sans Semibold', sans-serif;
      font-size: 16px;
      text-transform: uppercase; }
      .navbar__items .navbar__items__menu .navbar__items__menu__btn a {
        text-decoration: none;
        color: #606060; }
        .navbar__items .navbar__items__menu .navbar__items__menu__btn a:hover {
          color: #ff5a5f;
          border-bottom: 1px solid #ff5a5f; }

.social-btns {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto; }
  .social-btns a {
    margin-left: 20px; }
    .social-btns a .social-btns__icon {
      width: 22px; }
