
//IMPORTS
@import 'fonts.scss';

//VARIEBLES
$color-text: #606060;
$text-size:16px;
$line-height:24px;

// MAIN STYLES

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  @include regular;
  color:$color-text;
  line-height:$line-height;
  text-size: $text-size;
}

.container {
  width: 1170px;
  margin:0 auto;
}

// HEADER COVER
